@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Aileron/Aileron-Black.ttf) format('truetype')
}

body {
    background-color: #572b9c;
    color: #ffebe1;
    font-family: 'Aileron';
    margin: 0;
    user-select: none;
    cursor: default;
}
#titlebar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    -webkit-app-region: drag;
    border-bottom: rgba(0,0,0,0.6) 1px solid;
}
#titlebar>div {
    font-family: 'Material Icons';
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: transparent;
    transition: background 100ms linear;
    -webkit-app-region: no-drag;
}
#titlebar>div:hover {
    background: rgba(255,255,255,0.4);
}